.-items {
  display: flex;
	align-items: center;
  overflow: hidden;
  border: 1px solid blue;
  height: 40px;
  max-width: 600px;
}

.-additionalItemsCounter {
  flex: 0 0 auto;
  padding: 0 5px;
  width: 25px;
}

.-item {
  flex: 0 0 auto;
  padding: 0 5px;
  width: 25px;
}
